*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Lato;
    list-style: none;
    text-decoration: none;
}
/* -----------------Nav related styles-------------- */
body{
    width: 1920px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111010;
    padding: 15px;
    
}
.logo{
    margin-left: 50px;
}
.nav-right{
    margin-right: 50px;
}
nav ul{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.90);

}
nav ul li{
    padding: 10px;
    margin-right: 15px;
}
nav ul li:hover{
    color: #E55473;
    cursor: pointer;
}
nav span {
    color: #E55473;

}
nav p{
    font-size: 48px;
    font-weight: 800;
    /* border: 1px solid red; */
    color: white;
}
/* ----------------Banner Styles---------------- */
.banner{
    /* width: 1920px; */
    height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 240px;
    gap: 97px;
}
.banner-left{
    width: 708px;
    margin: auto;
}
.banner-left h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-left p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    width: 634px;
    margin: 32px 0;
}

.btn-main{
    padding: 20px 43px;
    align-items: center;
    /* gap: 10px; */
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.btn-main:hover{
    background-color: rgb(247, 29, 77)
}

.banner-right{
    height: 800px;
    width: 630px;
}
/* ---------------------Main Section ------------------ */
.featured{
    padding: 0 240px;
    /* border: 1px solid red; */
    margin-top: 178px;
}
.featured-upper{
    /* border: 1px solid black; */
    text-align: center;
    width: 31%;
    margin: 0 auto 48px;

}
.section-header{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.featured-upper p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    
}
 
.featured-lower{
    display: flex;
    /* border: 1px solid blue; */
    align-items: end;
    justify-content: space-between;
    gap: 24px;
}
.box{
    /* border: 1px solid purple; */
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    

}
.first{
    background: rgba(167, 33, 98, 0.15);
}
.mid{
    background: rgba(5, 151, 160, 0.15);
    position: relative;
}
.last{
    background: rgba(71, 125, 17, 0.15);
}
.box img{
    margin: 110px 76px 0 78px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
}
.mid img{
    position: absolute;
    bottom: 40px;
}